.character-info__details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.character-info__column {
  padding-right: 10px;
}

.character-info__column:not(:last-child) {
  border-right: 1px solid white;
}
